h1 {
    color:rgb(25, 100, 25);
}

img {
    width: 400px;
}

#thirdDiv {
    width: 500px;
    height: 800px;
    background-color: rgb(156, 225, 161);
    padding: 50px;
    border: 5px solid rgb(1, 52, 1);
}

.spanid {
    font-size: 18px;
    margin: 50px;
}